<!doctype html>
<html ng-app="masterApp">
    <head>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/bower_components/angular-color-picker/dist/angularjs-color-picker.min.css" />
        <link rel="stylesheet" href="/bower_components/angular-color-picker/dist/themes/angularjs-color-picker-bootstrap.min.css"/>

        <link rel="stylesheet" href="master.css"/>

        <title>Master</title>
    </head>
    <body ng-controller="masterCtrl as master">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Master</a>
                </div>
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <textarea
                        ng-model="master.newMsg.text"
                        class="form-control"
                        rows="{{ master.newMsg.rows }}">
                    </textarea>

                    <br/>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputTextColor" class="col-xs-6 control-label">
                                Couleur du texte
                            </label>
                            <div class="col-xs-6">
                                <color-picker
                                    id="inputTextColor"
                                    ng-model="master.newMsg.textColor"
                                    color-picker-format="'hex'"
                                    color-picker-alpha="false"
                                    color-picker-swatch-only="true">
                                </color-picker>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputBackgroundColor" class="col-xs-6 control-label">
                                Couleur du fond
                            </label>
                            <div class="col-xs-6">
                                <color-picker
                                    id="inputBackgroundColor"
                                    ng-model="master.newMsg.backgroundColor"
                                    color-picker-format="'hex'"
                                    color-picker-alpha="false"
                                    color-picker-swatch-only="true">
                                </color-picker>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputRows" class="col-xs-6 control-label">
                                Nombre de lignes
                            </label>
                            <div class="col-xs-6">
                                <input
                                    type="number"
                                    id="inputRows"
                                    class="form-control"
                                    ng-model="master.newMsg.rows"
                                    min="1"/>
                            </div>
                        </div>
                    </form>

                    <button
                        class="btn btn-primary btn-block"
                        type="button"
                        ng-click="master.emitNewMessage(master.newMsg)">
                        Update
                    </button>
                </div>

                <div
                    id="messageArea"
                    class="col-xs-6 text-center"
                    ng-style="master.messageStyle"
                    >{{ master.message.text }}</div>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/angular-socket-io/socket.min.js"></script>
        <script src="/bower_components/tinycolor/dist/tinycolor-min.js"></script>
        <script src="/bower_components/angular-color-picker/dist/angularjs-color-picker.min.js"></script>

        <script src="/master/master.app.js"></script>
        <script src="/master/master.controller.js"></script>
    </body>
</html>
